<nav class="navbar navbar-default">
  <div class="container">
    <div class="col-md-offset-3 col-md-6">
      <div class="navbar-header navbar-logo">
        <a href="/" class="navbar-brand">
          <%= render partial: 'logo' %>
          <span>Speedup rb</span>
        </a>
      </div>

      <ul class="pull-right navbar-links">
        <li><a href="https://github.com/caspg/speedup-rb">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
