<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.errors.each do |error| %>
        <li><%= error.attribute_name %> is required</li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :report, routes.reports_path do
    div class: 'col-md-6' do
      div class: 'form-group' do
        label 'GitHub repo owner', for: :owner
        text_field :owner, placeholder: 'caspg', class: 'form-control'
      end
    end

    div class: 'col-md-6' do
      div class: 'form-group' do
        label 'GitHub repo name', for: :repo
        text_field :repo, placeholder: 'speedup-rb', class: 'form-control'
      end
    end

    div class: 'col-md-12' do
      div class: 'form-group' do
        label :path
        text_field :path, placeholder: 'apps/web/controller (optional)', class: 'form-control'
      end

      submit 'Create', class: 'btn btn-primary'
    end
  end
%>
