<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="index-text">
      <p>Analyze your open source code and receive suggestions with <a href="https://github.com/JuanitoFatas/fast-ruby">fast&#8209;ruby</a> idioms.</p>
    </div>
  </div>

  <div class="col-md-offset-3 col-md-6">
    <div class="index-form">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
