<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default report-panel">
      <div class="panel-heading">
        <h3>
          Report for <span class="repo-full-name"><%= repo_full_name %></span>
        </h3>
        <% if report.path %>
        <p class="path"><%= report.path %></p>
        <% end %>
      </div>

      <div class="panel-body">


        <p>Your report will be ready soon.</p>
        <p>Refresh this page after a while, or copy below link and come back later.</p>

        <input type="text" class="form-control report-link" value="<%= report_full_url %>" readonly> 
      </div>
    </div>
  </div>
</div>
