<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default report-panel">
      <div class="panel-heading">
        <h3>
          Report for <span class="repo-full-name"><%= repo_full_name %></span>
        </h3>
      </div>

      <div class="panel-body">
        <% if report.content %>
          <%= render partial: 'report_with_content' %>
        <% else %>
          <%= render partial: 'report_no_content' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
