<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body report-panel">
        <h3>Report for <%= repo_full_name %></h3>
      </div>
    </div>
  </div>
</div>
