<p>Your report will be ready soon.</p>
<p>Refresh this page after a while, or copy below link and come back later.</p>

<input type="text" class="form-control report-link" value="<%= report_full_url %>" readonly> 
