<div class="navbar">
  <div class="home-menu pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">Speedup Rb</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-list"><a href="#" class="pure-menu-link">About</a></li>
    </ul>
  </div>
</div class="navbar">
