<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="stylesheet/main.css" /> -->
  </head>
  <body>
    <%= render partial: 'navbar' %>

    <!-- <%= yield %> -->
  </body>
</html>
