<!DOCTYPE html>
<html>
  <head>
    <title>Speedup-rb</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />

    <script type="text/javascript" src="/javascripts/google_analytics.js" ></script>
  </head>
  <body>
    <%= render partial: 'navbar' %>

    <%= yield %>

    <%= render partial: 'footer' %>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
