.navbar {
  margin-bottom: 30px;
  height: $navbar-height;
  background-color: $navbar-bg-color;
}

.navbar-logo {
  a {
    padding: 0;
    font-size: $navbar-brand-font-size;

    svg {
      padding-right: 5px;
      height: $navbar-height;
      width: $navbar-height;
      fill: $navbar-color;
    }

    span {
      position: absolute;
      top: ($navbar-height - $navbar-brand-font-size) / 2;
      left: $navbar-height;
      color: $navbar-color;
    }

    &:hover span {
      text-decoration: underline;
      color: $navbar-hover-color;
    }

    &:hover svg {
      fill: $navbar-hover-color;
    }
  }
}

.navbar-links {
  margin-right: 5px;
  list-style-type: none;
  position: absolute;
  top: ($navbar-height - $body-font-size - 30) / 2;
  right: 0;

  li {
    display: inline-block;
    padding: 15px 10px;
  }

  a {
    color: $navbar-color;

    &:hover {
      text-decoration: underline;
      color: $navbar-hover-color;
    }
  }
}
