.repo-full-name {
  color: $dark-blue;
}

.report-panel {
  margin-top: 50px;

  .panel-heading {
    padding-left: 30px;
    padding-right: 30px;
  }

  .panel-body {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}