.repo-full-name {
  color: $blue;
}

.report-panel {
  margin-top: 50px;
  border-bottom: none;

  .panel-heading {
    padding-left: 30px;
    padding-right: 30px;
    color: #777;
  }

  .panel-body {
    padding: 0;

    .report-link {
      background-color: #f5f5f5;
      color: #777;
      font-size: $body-font-size;
      min-height: 60px;
      border: 1px solid #e3e3e3;
      padding: 20px;
      margin-top: 10px;
    }
  }
}

.no-content {
  padding: 40px;
}

.offence-section {
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;

  .offence-item {
    border-left: 6px solid $blue;
    margin: 20px 0px;
    padding: 15px;
    background-color: #f5f5f5;

    a {
      color: #777;
      text-decoration: underline;

      &:hover {
        color: $dark-blue;
      }
    }

    p {
      margin: 0;
    }
  }

  h4 {
    a {
      margin-left: 10px;
    }
  }
}

.error-section {
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;

  .error-items {
    margin-top: 10px;
    padding: 15px;
    border-left: 6px solid $red;
    background-color: #f5f5f5;

    p {
      margin: 0;
    }

    a {
      color: #777;
      text-decoration: underline;

      &:hover {
        color: $dark-blue;
      }
    }
  }

  h4 {
    margin-bottom: 15px;
  }
}

.empty-content {
  padding: 30px 40px;
}
