$element-border-radius: 2px;

$navbar-height: 70px;
$navbar-brand-font-size: 20px;
$body-font-size: 16px;

$footer-height: 80px;

// colors
$dark-main: #388E3C;
$main: #66BB6A;

$dark-grey: #9E9E9E;
$grey: #777;
$light-grey: #f8f8f8;
$red: #d9534f;

