$body-font-size: 16px;

$element-border-radius: 2px;

$navbar-height: 70px;
$navbar-brand-font-size: 20px;

$footer-height: 100px;

// colors
$dark-main: #D32F2F;
$main: #E57373;

$dark-grey: #9E9E9E;
$grey: #777;
$light-grey: #f8f8f8;
$red: #d9534f;

$navbar-bg-color: white;
$navbar-color: $grey;
$navbar-hover-color: $dark-grey;
$footer-text-color: darken($light-grey, 30);
