@import 'variables';
@import 'bootstrap_ overrides';
@import 'navbar';

body {
  font-size: $body-font-size;
  color: $grey;
}

.index-form {
  button {
    padding: 6px 40px;
  }
}

.has-error {
  label {
    color: #a94442;
  }
}

.form-errors {
  margin-bottom: 50px;
}
